<%- include('../partials/header'); -%>

<h2>Update product by id</h2>

<form id="form1">
    <label for="id">Product ID</label>
    <input type="text" name="id" required />
    <button>Submit</button>
</form>

<form id="form2" style="display: none;">
    <label for="title">Title</label>
    <input type="text" name="title" required />
    <label for="desc">Description</label>
    <input type="text" name="desc" required />
    <label for="categories">categories</label>
    <input type="text" name="categories" required />
    <label for="size">Size</label>
    <input type="text" name="size" required />
    <label for="color">Color</label>
    <input type="text" name="color" required />
    <label for="price">Price</label>
    <input type="text" name="price" required />
    <button>Submit</button>
</form> 

<div id="status" style="display: none; text-align: center; color: green;">
    Product has been updated successfully
</div>

<script>
    localStorage.getItem('isAdmin') === 'true' || location.assign('/')

    const form1 = document.getElementById('form1')
    const form2 = document.getElementById('form2')
    const status = document.getElementById('status')
    form1.addEventListener('submit', async (event) => {
        event.preventDefault()
        form2.style.display = 'block'
        const id = form1.id.value
        const data = await fetch('/api/products/find/' + id).then(res => res.json())
        form2.title.value = data.title
        form2.desc.value = data.desc
        form2.categories.value = data.categories
        form2.size.value = data.size
        form2.color.value = data.color
        form2.price.value = data.price

        form2.addEventListener('submit', async (event) => {
            event.preventDefault()  

            // get the values
            const title = form2.title.value
            const desc = form2.desc.value
            const categories = form2.categories.value
            const size = form2.size.value
            const color = form2.color.value
            const price = form2.price.value
            const res = await fetch('/api/products/update/' + id, {
                method: 'PUT',
                body: JSON.stringify({ 
                    accessToken: localStorage.getItem('accessToken'),
                    title, desc, categories, size, color, price
                }),               
                headers: { 
                    'Content-Type': 'application/json', 
                    'Accept': 'application/json'
                }
            })
            if (res.status === 200){
                form2.style.display = 'none'
                status.style.display = 'block'
            }
        })
    })

</script>

<%- include('../partials/footer'); -%>